/*!
 * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                     Document.css                    *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *     Semantic Styling for Simple HTML Documents      *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *   https://github.com/astraloverflow/document.css    *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                     MIT License                     *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 */html{-webkit-box-sizing:border-box;box-sizing:border-box}body{color:#333;font-family:system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;line-height:1.4;margin:16px auto;margin:1rem auto;max-width:720px;max-width:45rem}@media print{body{font-size:.9rem}}h1,h2,h3,h4,h5,h6{font-weight:400;text-align:center}h1{font-size:3.157em}h2{font-size:2.369em}h3{font-size:1.777em}h4,h5,h6{font-size:1.333em}h5{font-style:italic}h6{text-decoration:underline}h1>small,h2>small,h3>small,h4>small,h5>small,h6>small{color:#666;display:block;font-family:system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;font-size:60%;font-weight:400}p{page-break-inside:avoid;text-align:justify}a{color:#1276f1;text-decoration:underline}img{display:block;margin:auto}p>img{display:inline}hr{border:none;border-top:1px #ddd solid;clear:left;height:0;margin:1.5em 0}code{background-color:#f5f5f5;border:1px solid #ddd;border-radius:3px;color:#666;display:block;font-family:Consolas,monaco,monospace;font-size:.85em;padding:.8em 1em;page-break-inside:avoid}@media print{code{border:1px solid #bbb}}p>code{display:inline;padding:2px 3px}blockquote{border-left:#222 4px solid;font-size:1.3em;margin:1.5em 3em;padding:0 0 .15em .6em;page-break-inside:avoid}li{margin-bottom:.5em}header{page-break-inside:avoid;text-align:center}footer{color:#666;padding-bottom:.8em;padding-top:.01em;text-align:center}footer>p{text-align:center}