/*!
  * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *            Document.css (Yotsuba-b Theme)           *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *     Semantic Styling for Simple HTML Documents      *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *   https://github.com/astraloverflow/document.css    *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *                     MIT License                     *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *
  */@media screen{body{background:#eef2ff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADICAIAAACmkByiAAAATklEQVQokWO6ePUdEwMDA1bMyIguxkikOlxqsOvHbwYjXvNR5RiJchMut2DTw8hIrJ8Z8ZiBPfxwuRGbnQNvH33jgph0hStuiE1XRKgDAPUXBHCAyYNuAAAAAElFTkSuQmCC) repeat-x 50% 0;color:#000;font-family:'Helvetica Neue',Calibri,sans-serif}h1,h2,h3,h4,h5,h6{font-weight:700}h1,h2{color:#af0a0f}h3,h4{color:#0f0c5d}h1>small,h2>small,h3>small,h4>small,h5>small,h6>small{color:#0f0c5d}a{color:#34345c}hr{border-top:1px solid #b7c5d9}code{background-color:#fff}blockquote{border:none;color:#789922;font-size:1.1em;padding:none}}