@import url(https://fonts.googleapis.com/css?family=Poiret+One|Titillium+Web);/*!
  * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *              Document.css (Modern Theme)            *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *     Semantic Styling for Simple HTML Documents      *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *   https://github.com/astraloverflow/document.css    *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *                     MIT License                     *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *
  */body{font-family:'Titillium Web',sans-serif}h1,h2,h3,h4,h5,h6{font-family:'Poiret One',sans-serif;font-weight:700;letter-spacing:2px}h1>small,h2>small,h3>small,h4>small,h5>small,h6>small{font-family:'Titillium Web',sans-serif;letter-spacing:1px}a{color:#6795ce}@media screen{code{border:none}}