:root {
  --text-color: hsl(0, 0%, 20%);
  --text-color-lighter: hsl(0, 0%, 40%);
  --text-color-link: hsl(213, 89%, 51%);
  --text-font: system-ui, sans-serif;
  --text-font-sans-serif: 'Helvetica Neue', 'Calibri', sans-serif;
  --text-font-serif: 'Georgia', 'Times New Roman', serif;
  --text-font-mono: 'Consolas', 'monaco', monospace;
  --text-font-modern: 'Titillium Web', sans-serif;
  --text-font-modern-header: 'Poiret One', sans-serif;
}
