/* stylelint-disable */
/*!
 * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                     Document.css                    *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *     Semantic Styling for Simple HTML Documents      *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *   https://github.com/astraloverflow/document.css    *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *                     MIT License                     *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 *
 */
/* stylelint-enable */

@import '_variables.css';

html {
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  font-family: var(--text-font);
  line-height: 1.4;
  margin: 1rem auto;
  max-width: 45rem;
}

@media print {
  body {
    font-size: 0.9rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  text-align: center;
}

h1 {
  font-size: 3.157em;
}

h2 {
  font-size: 2.369em;
}

h3 {
  font-size: 1.777em;
}

h4,
h5,
h6 {
  font-size: 1.333em;
}

h5 {
  font-style: italic;
}

h6 {
  text-decoration: underline;
}

h1 > small,
h2 > small,
h3 > small,
h4 > small,
h5 > small,
h6 > small {
  color: var(--text-color-lighter);
  display: block;
  font-family: var(--text-font);
  font-size: 60%;
  font-weight: normal;
}

p {
  page-break-inside: avoid;
  text-align: justify;
}

a {
  color: var(--text-color-link);
  text-decoration: underline;
}

img {
  display: block;
  margin: auto;
}

p > img {
  display: inline;
}

hr {
  border: none;
  border-top: 1px #ddd solid;
  clear: left;
  height: 0;
  margin: 1.5em 0;
}

code {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: var(--text-color-lighter);
  display: block;
  font-family: var(--text-font-mono);
  font-size: 0.85em;
  padding: 0.8em 1em;
  page-break-inside: avoid;
}

@media print {
  code {
    border: 1px solid #bbb;
  }
}

p > code {
  display: inline;
  padding: 2px 3px;
}

blockquote {
  border-left: #222 4px solid;
  font-size: 1.3em;
  margin: 1.5em 3em;
  padding: 0 0 0.15em 0.6em;
  page-break-inside: avoid;
}

li {
  margin-bottom: 0.5em;
}

header {
  page-break-inside: avoid;
  text-align: center;
}

footer {
  color: var(--text-color-lighter);
  padding-bottom: 0.8em;
  padding-top: 0.01em;
  text-align: center;
}

footer > p {
  text-align: center;
}
