/* stylelint-disable */
 /*!
  * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *              Document.css (Modern Theme)            *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *     Semantic Styling for Simple HTML Documents      *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *   https://github.com/astraloverflow/document.css    *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *                     MIT License                     *
  * * * * * * * * * * * * * * * * * * * * * * * * * * * *
  *
  */
/* stylelint-enable */

@import '_variables.css';
@import 'https://fonts.googleapis.com/css?family=Poiret+One|Titillium+Web';

body {
  font-family: var(--text-font-modern);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--text-font-modern-header);
  font-weight: bold;
  letter-spacing: 2px;
}

h1 > small,
h2 > small,
h3 > small,
h4 > small,
h5 > small,
h6 > small {
  font-family: var(--text-font-modern);
  letter-spacing: 1px;
}

a {
  color: #6795ce;
}

@media screen {
  code {
    border: none;
  }
}
